<nav class="navbar navbar-fixed-top header" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#/"><img src="/assets/img/compass_rose_beta.png" class = "img-responsive" width ="22%"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="navigation navbar-nav navbar-right">
                <li><a class="navlist" href="#/web_development">Web Development</a>
                </li>
                <li><a class="navlist" href="#/graphic_design">Graphic Design</a>
                </li>
                <li id="#av"><a class="navlist" href="#/audio_video">Audio Video</a>
                </li>
                <li><a class="navlist" href="#/contact">Contact</a>
                </li>
                <li><a class="navlist" href="#/about">About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
