<!-- Page Content -->

<div class="container-fluid">

	<div class="row">
    	<div class="col-sm-3 stuff">
        	<h3> <img src="../assets/img/chrisbeckman.jpg" class="img-responsive">  </h3>
            
        </div>
        <div class="col-sm-9 stuff">
            <h1>Christopher Beckman</h1>

			<p> Hello, my name is Chris Beckman, and I'm a web developer. I'm an avid player of all types of video games, and also enjoy reading, writing, and creating fun audio/video content. </p>
			<p> Let's start with the nitty gritty, I primarily do web development as a profession. In fact this entire website was designed by me using a combination of Angular JS, Javascript, Jquery, and of course the obligatory HTML 5/CSS3 bootstrap framework. I also have experience coding with Node JS, PHP, mySQL, and just a tiny smidgen of C++. Coding is quite possible the third most liberating experience that I have come across in my life, after writing and making video games. When given total freedom you can make anything from a simple portfolio such as this, to an amazing app that generates player characters for d&d.  </p>
			<p> My life doesn't revolve entirely around code, however. I compete every year in National Novel Writing Month, also known as NaNoWriMo, which takes place in November. So far I have competed in two of the last three years, and I actually reached the goal and won last year. I have plans to compete again this year and hope to finish up my book and submit it for publishing. I also am an avid video game player. I love many types of games, but am particularly fond of any games with a gripping story element. I've designed one video game personally, and developed a second with a college in college.</p>
			<p> I hope that you found my story intriguing and the content on this webzone equally so. If you have a question, feel free to send me an email through the contact page. Have a wonderful day! </p>
            </div>
           
        </div>
	</div>   
</div>
<!-- /.container -->
