<!-- Page Content -->
<div class="container-fluid">

<div class="row" id="audioBase"> 
</div>

<h1> Audio Production and Post Production </h1>

<hr>
<div class="row">
<div class="col-sm-4">
  <h3> The Adventures of Andrew Alexander Abraham and Fiona: Into the Snake pit</h3>
  <p> This is probably my favorite project that I worked on. The Adventures of Andrew Alexander Abraham and Fiona is based on a serialized radio drama. All the music in the clip are from the open source library of audio clips at <a href="http://incompetech.com/music/royalty-free/"> incompetech.com </a>. All the voice over work and audio editing was done by myself and the effects come from the student available library of audio clips provided by IU.  </p>
</div>
<div class="col-sm-8">
        <h3> <iframe width="560" height="315" src="https://www.youtube.com/embed/6e2DBZz7vQ4" frameborder="0" allowfullscreen></iframe> </h3>
</div>
<br>
</div>

<!-- <hr>
<div class="row">
<div class="col-sm-4">
  <h3> An Excerpt from Star Trek IV</h3>
  <p> This project was a particular challenge for myself. We had to find a section of a movie or TV show and completely recreate it. Being the huge Star Trek fan I am I looked through several of the scripts from my favorite movies and episodes from the series. I eventually settled on the trial scene from the beginning of Star Trek IV. I took the original scripted version and added a narration by Kirk to meet the time requirements. The music and sound effects are stock effects and tracks due to time constraints, but the ways in which they were inserted and manipulated are entirely of my own creation. </p>
</div>
<div class="col-sm-8">
  <h3> <div class="mp3_player">
          <div class="audio_box" id="audio_box_id2"> </div>
          <canvas id="analyser_render2" >
       </div> 
</h3>
</div>
<br>
</div> -->


<hr>
<h1> Video Production and Post Production </h1>

<hr>
<div class="row">
<div class="col-sm-4">
    <h3> Psychosis</h3>
    <p> When you are pushed to far by everything around you, even those you love, your mind begins to warp and twist until you find yourself capable of doing things that normally you would never consider doing. Psychosis is a Group 2 production. I was working on this production with several other people. My main responsibilities for this were to assemble the score for the film and to help edit the film.  </p>
</div>
<div class="col-sm-8">
    <h3> <iframe width="560" height="315" src="https://www.youtube.com/embed/n_iGy3E64hI" frameborder="0" allowfullscreen></iframe> </h3>
</div>
<br>
</div> 

<hr>
<div class="row">
<div class="col-sm-4">
    <h3> From Here to There Maps</h3>
    <p> I did this video in just three hours including the song, I am pretty happy with the results. </p>
</div>
<div class="col-sm-8">
    <h3> <iframe width="560" height="315" src="https://www.youtube.com/embed/yzezC2hQ-_Q" frameborder="0" allowfullscreen></iframe> </h3>
</div>
<hr>
<br>
</div> 

</div>
<!-- /.container -->
