<div class="container">
<div class="row">
<img src="/assets/img/compass_rose.png" class = "mainimg img-responsive" usemap="#roselinks" id="title">

<map name="roselinks" id="roselinks">
  <area shape="rect" coords="943,174,1621,278" href="#/web_development"/>
  <area shape="rect" coords="994,1481,1647,1560" href="#/audio_video"/>
  <area shape="rect" coords="1887,831,2545,903" href="#/audio_video" />
  <area shape="rect" coords="100,828,676,927" href="#/graphic_design" />

<script type="text/javascript"> 
$('img[usemap]').rwdImageMaps(); 
</script>

</div>
</div>