<!-- Page Content -->

<div class="container-fluid">

<h1> Web Design and Coding Experience </h1>


<hr>
<div class="row">
  <div class="col-sm-4 stuff">
        <h3>EFA Career Services</h3>
        <p>During my apprenticeship at 1150 academy I, along with the other graduates, was tasked with helping to develop a website that the Academy could use to market the graduates of their 9 week program to help get the apprentices hired to company faster. I decided to insist on using angular to help parse the data in the ways that eleven fifty wanted and it turned out rather well and is easily scalable for future classes.</p>
  </div>
    <div class="col-sm-8 stuff">
        <h3> <a href="http://lp.rightonin.com/LandingPages/cfb/dy/Hire_A_Grad" target="_blank"><img src="../../assets/img/portfolio/efalogo.png"class="img-responsive"> </a> </h3>
  </div>
</div> <br>

<hr>
<div class="row">
  <div class="col-sm-4 stuff">
        <h3> Random Character Generator</h3>
        <p> I'm an avid player of role playing games, but there is the problem of making characters for those games who dont really have a backstory. This generator aims to rectify that situation. It uses a number of criteria and conditionals to generate off a character with a full backstory and family so that players can have something to start with when playing fantasy setting role playing games. </p>
  </div>
    <div class="col-sm-8 stuff">
        <h3> <a href="https://atadsp.github.io/" target="_blank"><img src="../../assets/img/portfolio/char_gen.jpg"class="img-responsive"> </a> </h3>
  </div>
</div> <br>

<hr>
<div class="row">
  <div class="col-sm-4 stuff">
        <h3> Shopping List Application</h3>
        <p> During my apprenticeship with 1150 Academy I worked together with a group of people conisiting of myself, and two others we crafted this app. It's a shopping app that generates a list based on user inputs. </p>
  </div>
    <div class="col-sm-8 stuff">
        <h3> <a href="https://chris-beckman-shopping-list.herokuapp.com/#/home" target="_blank"><img src="../../assets/img/portfolio/shopping_list_app.jpg"class="img-responsive"> </a> </h3>
  </div>
</div> <br>

<!-- <hr>
	<div class="row">
   	  <div class="col-sm-4 stuff">
        	<h3> MEAN.JS Boiler Plate - Super Duper Mart</h3>
            <p> There is a fantastic template out there that allows web developers to quickly scrub out websites using the MEAN stack. Theses sites are basic and require a lot of additional work to get to any sort of professional standard.  I took this boiler plate and added additional functionality to it. Primarily it had to do with interlinking the various sub-pages so that the various tables on the database could talk with one another. The theme of the website is based of the video game franchise called Fallout, produced by Interplay Entertainment, Black Isle Studio, Micro Forte, Bethesda Game Studios, and Obsidian Entertainment. </p>
      </div>
        <div class="col-sm-8 stuff">
        	<h3> <a href="https://super-duper-mart-meanjs.mybluemix.net/" target="_blank"><img src="../../assets/img/portfolio/meanjs_super_duper_mart.jpg" class="img-responsive"> </a> </h3>
      </div>
	</div> <br> -->
    <hr>
    
  <div class="row">
      <div class="col-sm-4 stuff">
          <h3> NodeJS Workout App</h3>
            <p> This is a nodeJS workout app that I constructed. It has a secure sign in, and database support that allows the user to create an account, sign in, create a type of workout and log the workout. It also has a page that displays the workouts that have been logged and allows the user to delete it. </p>
      </div>
        <div class="col-sm-8 stuff">
          <h3> <a href="https://workout-web-1150-godzilla.herokuapp.com/" target="_blank"><img src="../../assets/img/portfolio/nodejs_godzilla_workout.jpg" class="img-responsive"> </a> </h3>
      </div>
  </div> <br>
<hr>

	<div class="row">
   	  <div class="col-sm-4 stuff">
        	<h3> Vertellus.com</h3>
            <p> While I did not code the vertellus website I was partially responsible for maintaince of the website and updating the graphics as needed. Many of the graphics that are currently on the website were designed by me or modified to better suit the needs of the company. I also did a lot of work on the back end of the website in transfering files from an older server FileNet to a new server at SharePoint. </p>
      </div>
        <div class="col-sm-8 stuff">
        	<h3> <a href="http://www.vertellus.com" target="_blank"><img src="../../assets/img/portfolio/Vertellus.jpg" class="img-responsive"> </a> </h3>
      </div>
	</div> <br>
    <hr>

	<div class="row">
   	  <div class="col-sm-4 stuff">
        	<h3> Marill</h3>
            <p> When I first discorvered codepen I used it to design a creature using nothing but HTML and CSS. This is the result of that work. Its from the franchise Pokemon and is a tailless version of the pokemon Marill who is one of the easiest to replicate and thus made a good canidate for practising HTML/CSS design. </p>
      </div>
        <div class="col-sm-8 stuff">
        	<h3> <a href="https://codepen.io/atadsp/pen/ezvdWZ" target="_blank"><img src="../../assets/img/portfolio/marill.jpg" class="img-responsive"> </a> </h3>
      </div>
	</div> <br>
    <hr>
</div>
<!-- /.container -->
